---
import Base from "@layouts/Base.astro";
import { Icon } from "astro-icon";

const mediaLinks = [
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/seansew/",
    text: "Contact me on",
  },
  {
    name: "GitHub",
    href: "https://github.com/ExpressOwl",
    text: "Peek at my",
  },
];

const skillSet = [
  {
    name: "HTML",
  },
  {
    name: "CSS",
  },
  {
    name: "Javascript",
  },
  {
    name: "TailwindCss",
  },
  {
    name: "Astro",
  },
  {
    name: "React",
  },
];
---

<Base title="Welcome">
  <img
    class="2xl:block absolute h-4/6 top-28 left-14 opacity-70 hidden -z-10"
    src="/images/WorkingMan.png"
    alt=""
  />
  <img
    class="2xl:block absolute h-4/6 top-28 right-14 opacity-70 hidden -z-10"
    src="/images/WorkingMan2.png"
    alt=""
  />

  <div class="prose mx-4 text-[#0f0f0f]">
    <h2 class="underline text-[#0f0f0f]">About Me</h2>
    <p class="text-lg font-bold">
      My name is Sean and I love building sites from the ground up because you
      get to see the progress made with each line of code written, and it feels
      very gratifying to slowly piece together a project. <br /> I value responsive
      and engaging user experiences, hence creating sites using React, and following
      a mobile first approach with TailwindCSS. I also unit test my JavaScript with
      Jest if needed.
    </p>
    <div class="text-center mb-4">
      {
        mediaLinks.map((item) => (
          <>
            <a
              href={item.href}
              target="_blank"
              class="text-[#f1f1f1] bg-[#24292F] focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center focus:ring-gray-500 hover:bg-[#050708]/30 mr-2 mb-2"
            >
              <Icon name={item.name} class="w-4 h-4 mr-2 -ml-1" />
              {item.text} {item.name}!
            </a>
          </>
        ))
      }
    </div>
    <h2 class="prose text-xl underline">
      Techstack: <div class="flex flex-wrap mt-4 text-[#0f0f0f]">
        {
          skillSet.map((skill) => (
            <Icon class="w-11 h-11 mx-4 my-2" name={skill.name} />
          ))
        }
      </div>
    </h2>
  </div>
</Base>
